@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --sriracha: 'Sriracha', cursive;
    --passivi-one: 'Passion One', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(246, 249, 201, 0.121);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 50px;
    text-shadow: 2px 1.1px rgba(255, 255, 255, 0.46);
}
header>h1{
    font-family: var(--passivi-one);
}
header>p{
    padding-top: 3px;
}  
section{
    margin: auto;
    max-width: 900px;
    min-width: 350px;
    margin-top: 44px;
    margin-bottom: -11px;


} 
p{
    font-family: var(--sriracha);
    font-size: 26px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.23);
}
a{
    text-decoration:none ;
    color:white;
}
a:hover{
    text-decoration: underline;
}

.background{
    max-width: 1919px;
    max-height: 326px;
    padding-top: 40px;
    padding-bottom: 75px;
    background-size: cover;
    background-position: center right; 
    background-attachment: fixed;
} 
.background>p{
    margin: auto;
    max-width: 800px;
    min-width: 350px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0));
    color: white;
    margin-right: 381px;
    text-shadow: 1px 1.1px rgba(255, 255, 255, 0.5);
}
footer{
    background-color: black;
    color: white;
    margin-top: 31px;
    
   
}
footer>p{
    text-align: center;
    font-size: 1.2em;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 15px;
}